<!DOCTYPE html>
<html>
<head>
  <title>Sub-sub-categories</title>
  <style type="text/css">
  	th, td {
    padding: 10px;
}
ln{color:#169457;
padding -left: 5px, 5px;
margin-left:30px;
font-family: Courier New;
font-size:120%;
font-weight: 600;
line-height:30px
}
button
  {
  width: auto;
    background-color: #4CAF50;
    color: white;
    font-size: 120%;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover{
    background-color: #45a049;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #A3D69B;
}
  </style>
</head>
<body>
  <h1>All Sub-sub-categories</h1>
  <table style="width:100%">
  	<th>Sub-sub-category</th>
  	<th>Sub-category</th>
  	<th>Category</th>
  	<th>Total products</th>
  <% @sub_sub_categories.each do |sub_sub_category| %>
  <tr align = "center">
  <td><%= link_to sub_sub_category.sub_sub_category_name, sub_sub_category_path(id: sub_sub_category.id) %> </td>
  <td><%= link_to sub_sub_category.sub_category.sub_category_name, sub_category_path(id: sub_sub_category.sub_category.id) %></td>
  <td><%= link_to sub_sub_category.sub_category.category.category_name, category_path(id: sub_sub_category.sub_category.category.id) %></td>
  <td><%= sub_sub_category.products.count %> </td>
</tr>
  <% end %>
</table>
</body>
</html>