<!DOCTYPE html>
<html>
<head>
  <title>Sub-category</title>
</head>
<body>
  <h1><%= @sub_category.sub_category_name %></h1>
  <br />
  <span style="display:inline-block; width: 30px;"></span><%= link_to "View all Sub-category", sub_categories_path %>
</body>
</html>
