<!DOCTYPE html>
<html>
<head>
  <title>Categories</title>
</head>
<body>
  <h1><%= @category.category_name %></h1>
  <br />
  <span style="display:inline-block; width: 30px;"></span><%= link_to "View all Category", categories_path %>
</body>
</html>
